/*-------------------
        RESET
---------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

/*-------------------
        GENERAL
---------------------*/
body {
    font-family: 'Relaway', sans-serif;
}

/*-------------------
        LAYOUT
---------------------*/

.container {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.col-33 {
    width: calc(100% / 3);
    padding-bottom: 30px;
}

main {
    padding-top: 80px;
}

/*-------------------
        TYPOGRAPHY
---------------------*/

h2 {
    font-size: 10px;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
}

h3 {
    font-size: 8px;
    color: #474747;
    font-weight: 200;
}

.principal-price {
    font-size: 10px;
    color: #ff0000;
    font-weight: 600;
}

.deleted-price {
    font-size: 10px;
    color: #000;
    font-weight: 200;
    text-decoration: line-through;
}

nav ul li a {
    font-size: 8px;
    font-weight: 600;
}

.card .tag-text {
    font-size: 8px;
    font-weight: 600;
    color: #fff;
}

/*-------------------
        HEADER
---------------------*/

header {
    background-color: #ff6900;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.header-container {
    justify-content: space-between;
    padding: 10px 0;
}

.menu-container ul {
    display: flex;
}

.menu-container ul li {
    list-style: none;
}

.menu-container ul li a {
    color: #fff;
    padding: 0 6px;
    text-decoration: none;
}

.logo-container img {
    height: 15px;
}

.icon-container i {
    font-size: 10px;
    color: #fff;
}

/*-------------------
    GRID PRODUCT
---------------------*/

.card {
    position: relative;
    margin-right: 10px;
}

.card i {
    font-size: 12px;
}

.tag-container {
    position: absolute;
    display: flex;
    left: 0;
    bottom: 30px;
}

.tag-container .tag {
    margin-right: 3px;
}

.container-price {
    display: flex;
}

.container-price span {
    padding-right: 5px;
}

/*-------------------
        TAG
---------------------*/

.tag {
    padding: 3px 6px; 
}

.tag-top {
    position: absolute;
    padding: 6px 10px; 
    background-color: #fff;
    top: 8px;
    right: 0;
}

.tag-primary {
    background-color: #ff0000;
}

.tag-second {
    background-color: #008000;
}



